@page "/Page"
@page "/Page/{data}"
@page "/Page/{Date}"
<h1>Page</h1>


<table>
    <th>Name</th>
    <th>StartDate</th>
    <tr>@data</tr>
    <tr>@Date</tr>
</table>

@code {
    [Parameter]
    public string data { get; set; }
    [Parameter]
    public string Date{ get; set; }

}
