@page "/OrderDetails"
@attribute [Route("/OrderDetails/{Prices}/{Names}")]




@using Models


@code{
    [Parameter]
    public string Names { get; set; }
    [Parameter]
    public string prices { get; set; }
    
    //private string Name = Names;
    List<Details> detailsList = new();
    RadzenDataGrid<Details> grid;
    public List<string> DataList = new List<string>();


    private void QuickPlay()
    {
        var data = Names;
        var data1 = prices;
        DataList.Add(data);
        DataList.Add(data1);
        

    }
  

}


<button @onclick="QuickPlay">OrderDetails</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Price</th>
            <th>Total:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in DataList)
        {
            <td>@item</td>
        }
       
    </tbody>
</table>